@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-lora);
  --color-warm-off-white: #FAF9F6;
}

@layer base {
  body {
    @apply bg-warm-off-white text-stone-900 min-h-screen flex flex-col;
  }
}